/.git/

/.bundle

/.env*
!/.env*.erb

/config/master.key
/config/credentials/*.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets
