// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors for website

$primary-color: #3b82f6;
$accent-color: #6a00ff;
$background-color: #F8FAFC;
$text-primary: #1E293B;
$text-muted: #6B7280;
$card-background: #E5E7EB;
$error-color: #EF4444;
