<%= form_with model: [event, comment], data: { turbo_frame: "new_comment" } do |f| %>
  <%= f.text_area :content, rows: 2, class: "form-control", placeholder: "Write any questions you might have..." %>
  <div class="mt-3">
    <%= f.submit "Post", class: "simple-primary-button" %>
  </div>
<% end %>
