.interest-card-background {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 750px;
  height: auto;
  background-color: transparent;
}

.interest-bg {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  min-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.card-background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(0.9);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.interest-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.interest-content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); /* напівпрозорий фон */
  color: white;
  text-align: center;
}


.interest-content h5,
.interest-content p {
  margin: 0;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.interest-bg:hover .card-background-video {
  transform: scale(1.05);
  filter: brightness(1.2);
  cursor: pointer;
}

.interest-content .d-flex {
  justify-content: center;
}

.simple_form select {
  max-width: 220px;
  margin: 0 auto;
}

.simple_form input,
.simple_form select {
  border-radius: 12px;
}

.fixed-sidebar-form {
  position: sticky;
  top: 100px;
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}




@media (max-width: 768px) {
  .interest-card-background {
    flex-direction: column;
  }

  .interest-bg,
  .interest-content {
    max-width: 100%;
  }

  .fixed-sidebar-form {
    position: static;
    margin-top: 20px;
  }
}
