<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_tag events_path, method: :get, local: true, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "Search events, sports, users, etc..." %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
