.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: max-content;
  padding: 25px;
  border-radius: 25px;
  background-color: #e5e7eb;
  box-shadow: #3b82f6 0px 30px 30px -20px;
}

.form-heading {
  font-weight: 800;
  font-size: 30px;
  color: #3b82f6;
}

.form form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-text {
  margin-top: 12px;
}

.form form input,
.form form textarea,
.form form select {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 18px;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: #3b82f6 0px 10px 10px -5px;
}

.upload-photo {
  box-shadow: #3b82f6 0px 10px 10px -5px;
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 18px;
  margin-top: 15px;
}

.form form input::placeholder {
  color: #4e4e4e;
}

//

.form-checkbox-wrapper {
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #3b82f6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  padding: 0;
}

.form-checkbox:checked::after {
  content: '✔';
  color: black;
  font-size: 20px;
  font-weight: bold;
}

//

.form-login form input::placeholder {
  color: #4e4e4e;
}

.form-login input[type="email"],
.form-login input[type="password"],
.form-login input[type="text"] {
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: #3b82f6 0px 10px 10px -5px;
  border: none;
  outline: none;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
}

.form-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: max-content;
  padding: 25px;
  border-radius: 25px;
  background-color: #e5e7eb;
  box-shadow: #3b82f6 0px 30px 30px -20px;
}

//

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #3b82f6;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

label.toggle-label {
  color: #1E293B !important;
}


//

.google-login-form {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: white;
  color: #3c4043;
  font-weight: 500;
  border: 1px solid $text-primary;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;

  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.google-login-button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.google-icon {
  width: 20px;
  height: 20px;
}
